<footer>
    <div class="social-icons">
        <a href="https://instagram.com/_.shaunish._" >
            <img src="/pictures/insta-logo.png" alt="Instagram" width="30">
        </a>
        <a href="https://www.linkedin.com/in/shaunish-sharma123">
            <img src="/pictures/linkedin-logo.png" alt="Linkedin" width="30">
        </a>
        <a href="https://github.com/Shaunish123">
            <img src="/pictures/github-logo.png" alt="GitHub" width="30">
        </a>
    </div>

    <p class="copyright-txt">© <%= new Date().getFullYear() %> Shaunish. All rights reserved.</p>
</footer>
